
/*
 * Footer
 */
#Container{
	min-height: 700px;
}
main{
         
         
}
footer{
	background-color: rgba(248, 250, 252, .9);
	margin-bottom: -10px;
	margin-top: 10px;
}
#Presentation{
	padding: 10px;
	padding-bottom: 100px;
	background: rgba(248, 250, 252, 1);
	border-radius: 10px;

}
.cardPrincipal{
	border: none;
}
#BaseDatos{
	background: rgba(48, 50, 12, .6);
	
	border: gray 2px solid;
	min-height: 100px;
	padding: 10px;
}