<!-- En tu página HTML -->
<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Aplicaciones</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let app of webApps" [routerLink]="app.url">
            <ion-thumbnail slot="start">
                <ion-icon [name]="app.icon"></ion-icon>
            </ion-thumbnail>
            <ion-label>
                <h2>{{ app.name }}</h2>
                <p>Versión: {{ app.version }}</p>
                <p>Versión de la base de datos: {{ app.db_version }}</p>
                <!-- Agrega más detalles según sea necesario -->
            </ion-label>
            <ion-avatar slot="end">
                <img [src]="app.image" alt="Imagen de la aplicación">
            </ion-avatar>
        </ion-item>
    </ion-list>
</ion-content>